<app-home></app-home>

<h2>Reservation List</h2>


<ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations">
        Guest: {{reservation.guestName}} <br>
        Email: {{reservation.guestEmail}} <br>
        Room no: {{reservation.roomNumber}} <br>
        Check-In Date: {{reservation.checkInDate}} <br>
        Check-out Date: {{reservation.checkOutDate}} <br>
        <button (click)="deleteReservation(reservation.id)">Delete</button>
        <button [routerLink]="['/edit',reservation.id]">Edit</button>
    </li>


</ul>

<ng-template #noReservation>
    <p>No reservation available.</p>
</ng-template>